body {
  margin: 0;
  padding: 0;
  height:  100vh;
  background: #222;
  overflow: hidden;
  display: inline-block;
  justify-content: center;
  flex-flow: column;
}
/* Game canvas */
canvas {
  border: 2px solid white;
  image-rendering: pixelated;
}

/* ATTACK button */
#attackBtn {
  position: absolute;
  top : 695px;
  right: 12px;
  width: 200px;
  height: 100px;
  border-radius: 30%;
  z-index: 2;

  background: rgba(200, 50, 50, 0.85);
  color: white;

  font-size: 20px;
  font-weight: bold;

  border: none;
  outline: none;

  user-select: none;
}

#attackBtn:active {
  background: rgba(255, 80, 80, 0.95);
}